.btn-success:hover i {
    animation: fa-bounce 1s infinite   
}

.btn-danger:hover i {
    animation: fa-shake 1s infinite
}

.btn-secondary:hover i {
    animation: fa-spin 1s infinite
}

.dialog-responsive {
    max-height: 90vh;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.form-control{
    text-align: center;
}

.form-select {
    text-align:center;
}

.copy-button-wrapper {
    position: relative; /* Ensures that the bubble is positioned relative to this container */
    display: inline-block;
}
  
.copied-bubble {
    position: absolute;
    top: 100%;             /* Place the bubble immediately below the button */
    left: 50%;             /* Center horizontally relative to the button */
    transform: translateX(-50%);
    background-color: var(--bs-success); /* Bubble background */
    color: #fff;           /* Bubble text color */
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    margin-top: 4px;       /* Space between the button and the bubble */
    z-index: 10;
}
  
/* Create an upward arrow with a pseudo-element */
.copied-bubble::before {
    content: "";
    position: absolute;
    top: -10px;  /* Adjust based on arrow size */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bs-success) transparent;
}
